body {
    margin: 0;
    font-family: 'Montez', cursive;
}

h1 {
    color: #66BFBF;
    position: relative;
    left: 500px;
    font-family: 'Montez', cursive;
    font-size: 90px;
}
p {
    color: #66BFBF;
    position: relative;
    left: 500px;
    margin-top: 0;
    font-size: 30px;
}
div {
    background-color: #BEF0CB;
}
img {
    position: relative;
    left: 500px;
}
.red {
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    left: 200px;
    top: 200px;
}
.blue {
    height: 100px;
    width: 100px;
    background-color: blue;
    position: absolute;
    left: 100px;
    top: 100px;
}
.yellow {
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: absolute;
    left: 0px;
    top: 0px;
}